.background {
  background-color: purple;
  width: 100%;
  height: 1000px;
  font-family: cursive;
}

#heading {
  text-align: center;
  padding-top: 150px;
}

.qouteBox {
  margin-right: 35%;
  margin-left: 36%;
  border: 2px solid white;
  background-color: white;
}

#qoute {
  padding-left: 10px;
  font-family: segoe;
  font-size: 20px;
}

#author {
  padding-left: 65%;
  font-size: 15px;
}

.socials {
  margin: 10px;
  font-size: 30px;
  border: 0px;
  border-radius: 10px;
}
button {
  height: 30px;
  border: 0px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  margin-left: 170px;
  margin-bottom: 20px;
}

.signature {
  color: white;
  text-align: center;
  font-weight: bold;
}

#twitter:hover {
  color: #1da1f2;
}

#facebook:hover {
  color: #4267b2;
}
